<div class="main-visual">
<h1>~Your HOME~</h1>
<p><strong>さあさっそく投稿してみよう！！</strong></p>
</div>
<br>
<div class="container">
	<h3 class="name">name: <%= current_user.name %></h3>
	<br>
<h3 class="name">introduction: <%= current_user.introduction %></h3>
	<div class="main-visual-conten">
</div>
</div>
